@sand:registry=https://pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/registry/

; begin auth token
//pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/registry/:username=lumadev
//pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/registry/:_password=Y2U0ZGhwazZtd2VhNm54YXBsaTV2Z3ozN2F4YnhpdXBpbXJ5ZmR2Z2E1dDN5bHFqYTVkYQ==
//pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/:username=lumadev
//pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/:_password=Y2U0ZGhwazZtd2VhNm54YXBsaTV2Z3ozN2F4YnhpdXBpbXJ5ZmR2Z2E1dDN5bHFqYTVkYQ==
//pkgs.dev.azure.com/lumadev/_packaging/lumadev/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
